body{
    margin: 0;
    padding: 0;
}
.left{
    float: left;
}
.right{
    float: right;
}
.wrapper{
    /*border: 2px solid palevioletred;*/
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 100px 1fr 55px;
}
/*--------------------------------------navbar--------------------------------------*/
.navbar{
    /*border: 1px solid salmon;*/
    box-sizing: border-box;
    grid-row: 1/2;
    background-color: #35323299;;
}
.navbar h1{
    font-family: 'Archivo', sans-serif;
    font-size: 28px;
    color: whitesmoke;
}
/* ------ Logo ------*/
.logo{
    width: 200px;
    text-align: center;
    margin-top: -10px;
    margin-left: 44vw;
}
#titleRock{
    margin-left: 10px;

}
#titlePaper{
    margin-left: -5px;
    margin-top: -25px;
}
#titleScissors{
    margin-left: -37px;
    margin-top: -25px;
}
.separators{
    width: 50px;
    height: 84px;
    margin-top: -109px;
    margin-left: 122px;
    overflow: hidden;
}
#titleSeparator{
    margin-top: 1px;
    font-size: 80px;
    font-weight: lighter;
}
#titleSeparator2{
    margin-top: -125px;
    margin-left: 18px;
    font-size: 80px;
    font-weight: lighter;
}
#titleSeparator3{
    margin-top: -125px;
    margin-left: 33px;
    font-size: 80px;
    font-weight: lighter;
}
/*--------------------------------------main--------------------------------------*/
.main{
    box-sizing: border-box;
    background-color: #8883;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-row-gap: 15px;
}
.rules{
    grid-column: 7/8;
    margin-top: 10px;
    margin-left: 35%;
}
.rules a,i{
    color: #3339;
    text-decoration: none;
}
.rules a{
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    font-weight: bold;
}
.rules:hover *{
    color: #1A73E8;    
}
.pcHeader{
    grid-column: 4/5;
    grid-row: 1/2;
    font-size: 32px;
}
.header{
    text-align: center;
    margin: auto;
    color: #0009;
    font-family: 'Oswald', sans-serif;
}
.computerChoice{
    grid-column: 4/5;
    grid-row: 2/3;
    border: .5px solid #3336;
    background: whitesmoke;
    box-sizing: border-box;
    margin: auto;
    height: 140px;
    width: 140px;
}
.computerChoice>i{
    font-size: 100px;
    margin-left: 28px;
    margin-top: 15px;
    color: #0009;
}
.vsHeader{
    grid-column: 4/5;
    grid-row: 3/4;
    font-size: 40px;
    font-weight: normal;
}
.tabsContainer{
    grid-column: 3/6;
    grid-row: 4/5;
    margin-left: -40px;
}
.tabsList{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
}
.tabsList>li{
    display: inline-block;
}
div>label:hover{
    cursor: pointer;
    color: #3339;
}
input[type=radio]{
    display: none;
}
.rock{
    grid-column: 1/2;
    margin: auto;
}
.paper{
    grid-column: 2/3;
    margin: auto;
}
.scissors{
    grid-column: 3/4;
    margin: auto;
}
div>label{
    font-size: 75px;
    color: #3336;
}
.tabsContainer .tabsList input[type=radio]:checked + label {
    color: #1A73E8;
}

/*--------------------------------------buttons--------------------------------------*/
.play-btn{
    grid-column: 4/5;
    grid-row: 5/6;
    border: .5px solid #3336;
    font-size: 18px;
    margin: auto;
    width: 200px;
    height: 50px;
    text-align: center;
}
.play-btn:hover{
    cursor: pointer;
}
/*--------------------------------------footer--------------------------------------*/
.footer{
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.footer *{
    grid-column: 4/5;
    margin: auto;
    margin-right: 25px;
    font-family: 'Archivo', sans-serif;
    font-weight: bolder;
    font-size: 13px;
}
.footer a{
    color: #1A73E8;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}
.footer a:hover{
    color: rgb(24, 101, 202);
}
